{% extends "security_app/base_generic.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="container mt-4" >
    <h2 class="text-center mb-4">Dashboard</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
<h5 class="card-title">Управление системой</h5>
 <p class="card-text">Просматривайте свои системы и управляйте ими.</p>
 <a href="{% url 'systems_list' %}" class="btn btn-primary">Управление системами</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">События безопасности</h5>
                <p class="card-text">Просмотр и регистрация событий безопасности.</p>
                <a href="{% url 'security_events_list' %}" class="btn btn-primary">Добавить событие безопасности</a>
          </div>
        </div>
      </div>
         <div class="container" >
        <h1 class="text-center mt-5 mb-4">Система Управления Безопасностью в Киноиндустрии</h1>
        
        <section>
            <h2>Описание системы:</h2>
            <p>
                Система Управления Безопасностью в Киноиндустрии (СУБК) разработана для обеспечения безопасности информационных систем, содержащих конфиденциальные данные о производстве, распространении и дистрибуции фильмов и телепрограмм. Эта система предназначена для защиты критически важных данных, включая сценарии, финансовые сведения, персональные данные актеров и съемочные места.
            </p>
        </section>

        <section>
            <h2>Основные функции системы:</h2>
            <ul>
                <li><strong>Управление доступом:</strong> СУБК обеспечивает строгий контроль доступа к информации, разделяя права доступа в зависимости от роли сотрудников и степени необходимости доступа к конфиденциальным данным.</li>
                <li><strong>Мониторинг событий безопасности:</strong> Система осуществляет непрерывный мониторинг активности пользователей, обнаруживая подозрительные действия и предотвращая возможные угрозы безопасности.</li>
                <li><strong>Шифрование данных:</strong> Критически важные данные хранятся в зашифрованном виде, чтобы предотвратить несанкционированный доступ даже в случае утечки или несанкционированного доступа к серверам.</li>
                <li><strong>Резервное копирование и восстановление:</strong> Система регулярно создает резервные копии данных, обеспечивая возможность восстановления в случае чрезвычайных ситуаций или атак на информационные системы.</li>
                <li><strong>Аудит и отчетность:</strong> СУБК позволяет вести детальный аудит всех действий пользователей и генерировать отчеты о безопасности для удовлетворения требований законодательства и стандартов безопасности.</li>
            </ul>
        </section>

        <section>
            <h2>Связь с выбранной темой:</h2>
            <p>
                Система Управления Безопасностью в Киноиндустрии напрямую связана с выбранной темой "Анализ и обеспечение безопасности информационных систем в сфере кино и телевидения". Она представляет собой интегрированный подход к защите конфиденциальной информации, которая является жизненно важной для кинокомпаний, студий, продюсеров и других участников киноиндустрии. СУБК обеспечивает надежную защиту от утечек данных, несанкционированного доступа и других угроз, что позволяет компаниям сохранять конкурентные преимущества и обеспечивать безопасность производства и распространения кино и телевизионных программ.
            </p>
        </section>
    </div>
    </div>
   
  </div>
{% endblock %}
